@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: url('../images/background.jpeg');
}

.heart {
  animation: 2s float infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(12px) rotate(0deg);
}
100% {
    transform: translateY(-12px) rotate(0deg);
}
}


.share-option {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  transform-origin: bottom left;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(12,12,12,0.5);
  color: #fff;
  padding: 20px;
  transition: .5s;
  transition-delay: .5s;
}